[submodule "common"]
	path = common
	url = ../common
[submodule "entities"]
	path = entities
	url = ../entities
[submodule "device-manager"]
	path = device-manager
	url = ../device-manager
[submodule "signals"]
	path = signals
	url = ../signals
[submodule "connected-vehicle"]
	path = connected-vehicle
	url = ../connected-vehicle
[submodule "ess"]
	path = ess
	url = ../ess
[submodule "logic-statements"]
	path = logic-statements
	url = ../logic-statements
[submodule "pavement-condition"]
	path = pavement-condition
	url = ../pavement-condition
[submodule "vehicle-priority"]
	path = vehicle-priority
	url = ../vehicle-priority
[submodule "wrong-way-driver"]
	path = wrong-way-driver
	url = ../wrong-way-driver
[submodule "status"]
	path = status
	url = ../status
[submodule "tim"]
	path = tim
	url = ../tim
[submodule "rsu"]
	path = rsu
	url = ../rsu
[submodule "weather-responsive"]
	path = weather-responsive
	url = ../weather-responsive
[submodule "config"]
	path = config
	url = ../config
